<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.3.0" targetFramework="net6.0" />
  <package id="CsvHelper" version="27.2.1" targetFramework="net6.0" />
  <package id="ICSharpCode.SharpZipLib.Patched" version="0.86.5.3" targetFramework="net6.0" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net6.0" />
  <package id="RestSharp" version="112.0.0" targetFramework="net8.0-windows" />
  <package id="Serilog" version="2.10.0" targetFramework="net6.0" />
  <package id="Serilog.Sinks.Console" version="4.0.1" targetFramework="net6.0" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net6.0" />
</packages>