<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="itextsharp.xmlworker" version="5.5.10" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.1.0.657" targetFramework="net452" />
  <package id="OctoPack" version="3.0.71" targetFramework="net452" developmentDependency="true" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net452" />
  <package id="Prism.Autofac" version="6.2.0" targetFramework="net452" />
  <package id="Prism.Core" version="6.2.0" targetFramework="net452" />
  <package id="Prism.Unity" version="6.2.0" targetFramework="net452" />
  <package id="Prism.Wpf" version="6.2.0" targetFramework="net452" />
  <package id="Serilog" version="2.3.0" targetFramework="net452" />
  <package id="Serilog.Settings.AppSettings" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.TextWriter" version="2.0.0" targetFramework="net452" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
</packages>