<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.4.0.1044" targetFramework="net452" />
  <package id="OctoPack" version="3.6.3" targetFramework="net452" developmentDependency="true" />
  <package id="Prism.Autofac" version="7.0.0.336-pre" targetFramework="net452" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net452" />
  <package id="Prism.Unity" version="7.0.0.336-pre" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.0.0.336-pre" targetFramework="net452" />
  <package id="Serilog" version="2.6.0" targetFramework="net452" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="Serilog.Sinks.TextWriter" version="2.1.0" targetFramework="net452" />
  <package id="Unity" version="5.7.3" targetFramework="net452" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
</packages>